@charset "UTF-8";

/*
@mixin large-text {
    background-color: brown;
}

----а это в файл style.css---
p { @include large-text;}
*/

/*========МИКСИНЫ============================================================================/

/*========ШРИФТЫ============================================================================*/

/*======== ПОДКЛЮЧАЕМ ШРИФТЫ============================================================================*/

@import url(https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular&display=swap);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@font-face {
  font-family: "Segoe UI";
  font-display: swap;
  src: url("../fonts/Segoe UI Bold.woff2") format("woff2"), url("../fonts/Segoe UI Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*======== ИКОНОЧНЫЕ ШРИФТЫ============================================================================*/

/*======== ИКОНОЧНЫЕ ШРИФТЫ============================================================================*/

/*========ШРИФТ ПО УМОЛЧАНИЮ============================================================================*/

/*========ШРИФТЫ============================================================================*/

/*========ПЕРЕМЕННЫЕ============================================================================*/

/*========ПЕРЕМЕННЫЕ============================================================================*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1182px;
  padding: 0px 6px;
  margin: 0px auto;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*=========Подключение файлов стилей и страниц============================================================================*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  position: relative;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  cursor: default;
}

p {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #fff;
  /*---color font---*/
  color: #000;
  font-family: "Manrope";
  font-weight: 700;
}

.menu__icon {
  display: none;
}

body._lock {
  overflow: hidden;
}

._title {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 137.5%;
}

._underline {
  border-bottom: 1px solid black;
}

._underline:hover {
  border-bottom: 1px solid #F85A47;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.show {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.fixed {
  z-index: 20;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

._anim-show {
  -webkit-transform: translate(0px, 120%);
      -ms-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 2s ease .5s;
  -o-transition: all 2s ease .5s;
  transition: all 2s ease .5s;
}

._anim-show._active-anim,
._active-anim ._anim-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.header__title-desc-container {
  overflow: hidden;
}

.header__title {
  -webkit-transform: translate(-120%, 0px);
      -ms-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

.header__title._active-anim {
  -webkit-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  opacity: 1;
}

.header__desc {
  -webkit-transform: translate(-180%, 0px);
      -ms-transform: translate(-180%, 0px);
          transform: translate(-180%, 0px);
  opacity: 0;
  -webkit-transition: all 3s ease .5s;
  -o-transition: all 3s ease .5s;
  transition: all 3s ease .5s;
}

.header__desc._active-anim {
  -webkit-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
          transform: translate(0%, 0px);
  opacity: 1;
}

.how__logo-container-1,
.how__logo-container-2,
.how__logo-container-3 {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 1.6s;
  -o-transition: all 1.6s;
  transition: all 1.6s;
}

.how__logo-container-1._active-anim,
.how__logo-container-2._active-anim,
.how__logo-container-3._active-anim {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.card-1,
.card-2,
.card-3 {
  opacity: 0;
}

.card-1 {
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.card-2 {
  -webkit-transition: all 2.5s ease 0.5s;
  -o-transition: all 2.5s ease 0.5s;
  transition: all 2.5s ease 0.5s;
}

.card-3 {
  -webkit-transition: all 3s ease 1s;
  -o-transition: all 3s ease 1s;
  transition: all 3s ease 1s;
}

.card-1._active-anim,
.card-2._active-anim,
.card-3._active-anim {
  opacity: 1;
}

/*=========HEADER============================================================================*/

.no-webp .header{
  background-image: url(../img/bg.jpg); }

.header {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header__logo {
  font-weight: 800;
  font-size: 1.4375rem;
  line-height: 134.7826086957%;
  color: #31353B;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 auto 0 0;
  padding-right: 1.875rem;
}

.header__logo:hover {
  color: #F85A47;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header__menu-block {
  background: rgba(183, 223, 238, 0.8);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__block {
  margin-top: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__mini-title {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 131.8181818182%;
  color: #FF9900;
  margin-top: 2.0625rem;
}

.header__title {
  margin: 1.625rem 0;
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 135%;
  max-width: 31.25rem;
}

.header__desc {
  max-width: 31.25rem;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 135.2941176471%;
  letter-spacing: 0.01em;
  color: #31353B;
  margin-bottom: 3rem;
}

.header__input-container {
  z-index: 2;
  max-width: 47.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 9.0625rem;
}

.header__input-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2.0625rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/input-logo.svg);
  width: 1.3125rem;
  height: 1.3125rem;
}

.header__input {
  outline: none;
  min-height: 5.375rem;
  width: 35.4375rem;
  border: 0.0625rem solid rgba(49, 53, 59, 0.3);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 135%;
  letter-spacing: 0.01em;
  color: #31353B;
  padding-left: 4.6875rem;
}

.header__input:focus {
  border: 0.0625rem solid #F85A47;
}

.header__input::-webkit-input-placeholder {
  opacity: 0.3;
}

.header__input::-moz-placeholder {
  opacity: 0.3;
}

.header__input:-ms-input-placeholder {
  opacity: 0.3;
}

.header__input::-ms-input-placeholder {
  opacity: 0.3;
}

.header__input::placeholder {
  opacity: 0.3;
}

.header__input-btn {
  position: absolute;
  right: -11.75rem;
  z-index: 2;
  height: 5.375rem;
  width: 11.75rem;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 135.2941176471%;
  letter-spacing: 0.01em;
  color: #fff;
  background: #F85A47;
  text-align: center;
}

.header__input-btn:hover {
  background-color: #c22c1b;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.header__logos-desc {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 135.2941176471%;
  color: #31353B;
  margin-bottom: 1.6875rem;
}

.header__logos-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.header__logo-item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.header__slider-container {
  position: relative;
  max-width: 37.6875rem;
}

.header__slider {
  width: 100%;
}

.header__slider-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__social {
  position: absolute;
  top: 50%;
  right: -4.875rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6875rem;
}

.header__social a:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.875rem;
     -moz-column-gap: 2.875rem;
          column-gap: 2.875rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 130.7692307692%;
}

.menu__link:hover {
  color: #F85A47;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.slick-prev,
.slick-next {
  z-index: 3;
  font-size: 0;
  position: absolute;
  bottom: -2rem;
  width: 0.6875rem;
  height: 1.25rem;
}

.slick-prev {
  right: 3.1875rem;
  background: url(../img/arrow-prev.svg);
}

.slick-next {
  right: 0;
  background: url(../img/arrow-next.svg);
}

/*========HOME============================================================================*/

.how {
  margin: 14.375rem auto 14.0625rem auto;
}

.how__title {
  margin: 0 0 4.375rem;
  text-align: center;
}

.how__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10rem;
}

.how__card {
  text-align: center;
  max-width: 16.25rem;
}

.how__logo-container-1,
.how__logo-container-2,
.how__logo-container-3 {
  margin: 0 auto;
  border-radius: 1.25rem;
  width: 5.625rem;
  height: 5.625rem;
}

.how__logo-container-1 {
  background: #9672FF;
}

.how__logo-container-1:hover {
  background: #594496;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.how__logo-container-2 {
  background: #4DDFFD;
  position: relative;
}

.how__logo-container-2:hover {
  background: #3096aa;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.how__logo-container-2::after {
  content: '';
  width: 13.125rem;
  height: 0.6875rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -17.625rem;
  background-image: url(../img/icon-line-1.svg);
}

.how__logo-container-2::before {
  content: '';
  width: 13.125rem;
  height: 0.6875rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 9.125rem;
  background-image: url(../img/icon-line-2.svg);
}

.how__logo-container-3 {
  background: #F2B8EC;
}

.how__logo-container-3:hover {
  background: #c97cc1;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.how__logo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how__logo-desc-title {
  margin: 3.125rem 0 0.9375rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 136.3636363636%;
}

.how__logo-desc-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  text-align: center;
  color: #333333;
}

.best {
  margin-bottom: 15.1875rem;
}

.best__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9375rem;
}

.best__title {
  padding-right: 1.5625rem;
}

.best__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5rem;
  height: 4.0625rem;
  color: #fff;
  background: #F85A47;
}

.best__btn:hover {
  background-color: #c22c1b;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.best__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 3.125rem;
}

.best__hrefs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  font-weight: 600;
  font-size: 1.1875rem;
  line-height: 13.1313131313%;
  margin-bottom: 2.8125rem;
}

.best__href {
  height: 2.375rem;
}

.best__href.act {
  color: #F85A47;
  border-bottom: 1px solid #F85A47;
}

.best__href:hover {
  color: #F85A47;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.best__card-img,
.best__card-img-2,
.best__card-img-3 {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.best__card {
  position: relative;
  overflow: hidden;
  max-width: 23.125rem;
  max-height: 18.75rem;
}

.best__card img:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
  overflow: hidden;
}

.best__card::after {
  content: '';
  position: absolute;
  top: 1.25rem;
  left: 1.625rem;
  width: 4.6875rem;
  height: 1.625rem;
  background-image: url(../img/for-card-1.svg);
  z-index: 3;
}

.best__card::before {
  content: '';
  position: absolute;
  top: 1.25rem;
  left: 6.5625rem;
  width: 1.75rem;
  height: 1.625rem;
  background-image: url(../img/for-card-2.svg);
  z-index: 3;
}

.best__tab-1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem;
}

.best__tab-1,
.best__tab-2,
.best__tab-2,
.best__tab__4 {
  display: none;
}

.best .tab-act {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.week__title {
  text-align: center;
  margin-bottom: 5.9375rem;
}

.week__block {
  background: #F1FFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12.25rem;
}

.week__fotos {
  max-width: 30.75rem;
  margin: 2.4375rem 4.8125rem 0 2.4375rem;
}

.week__foto {
  position: relative;
  max-width: 30.75rem;
}

.week__img-main {
  width: 100%;
}

.no-webp .week__img-with-main{
  background-image: url(../img/office-1.jpg); }

.week__img-with-main {
  z-index: 2;
  position: absolute;
  top: 15.6875rem;
  left: 2.5625rem;
  width: 25.625rem;
  max-height: 17.375rem;
  -webkit-box-shadow: 1.75rem 3.3125rem 2.125rem 0 rgba(0, 17, 255, 0.2);
          box-shadow: 1.75rem 3.3125rem 2.125rem 0 rgba(0, 17, 255, 0.2);
}

.week__text {
  max-width: 25.75rem;
  margin-top: 5.125rem;
}

.week__text-title {
  font-weight: 600;
  font-size: 1.9375rem;
  line-height: 135.4838709677%;
  margin-bottom: 1.75rem;
}

.week__text-about {
  max-width: 21.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #545A58;
  margin-bottom: 2.625rem;
  line-height: 150%;
}

.week__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.6875rem;
     -moz-column-gap: 3.6875rem;
          column-gap: 3.6875rem;
  row-gap: 2.3125rem;
  margin-bottom: 3.375rem;
}

.week__item {
  width: 6.125rem;
}

.week__item-title {
  font-size: 1.0625rem;
  line-height: 135.2941176471%;
  padding-bottom: 0.75rem;
  font-weight: 700;
  color: #000;
}

.week__item-descr {
  font-size: 1.0625rem;
  line-height: 135.2941176471%;
  font-weight: 400;
  color: #545A58;
}

.week__btn {
  max-width: 25.75rem;
  padding: 0 2.3125rem;
  min-height: 3.3125rem;
  background-color: #F85A47;
  color: #fff;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 122.2222222222%;
  text-align: center;
  margin: 0 auto;
}

.week__btn:hover {
  background-color: #c22c1b;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.coment__card-text-container {
  overflow: hidden;
}

.coment {
  margin-bottom: 9.375rem;
}

.coment__title {
  max-width: 35.625rem;
  margin-bottom: 3.1875rem;
}

.coment__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5.3125rem;
}

.coment__card {
  max-width: 23.75rem;
  padding: 3.25rem 4.5rem 3.25rem 2.375rem;
}

.coment__card-decor-stars {
  margin-bottom: 2.0625rem;
}

.coment__card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 175%;
  color: #333333;
  margin-bottom: 3.3125rem;
}

.coment__card-name {
  font-weight: 700;
  font-size: 1rem;
  line-height: 137.5%;
  color: #333333;
  position: relative;
  padding-left: 4.25rem;
}

.coment__card-name.avatar-1::before,
.coment__card-name.avatar-2::before,
.coment__card-name.avatar-3::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 3rem;
  height: 3rem;
}

.coment__card-name.avatar-1::before {
  background-image: url(../img/avatar-1.svg);
}

.coment__card-name.avatar-2::before {
  background-image: url(../img/avatar-2.svg);
}

.coment__card-name.avatar-3::before {
  background-image: url(../img/avatar-3.svg);
  width: 2.875rem;
}

.coment__card-adress {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 135.7142857143%;
  color: #666666;
  padding-left: 4.25rem;
}

.coment__down-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coment__logo:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.coment__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.coment__contacts {
  max-width: 19.4375rem;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #333333;
}

.coment__contacts-tel:hover {
  color: #2CBDE7;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.coment__contacts-href {
  color: #2CBDE7;
  text-decoration: underline;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9.375rem;
}

.contacts__title {
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353B;
  margin-bottom: 0.6875rem;
}

.contacts__input-container {
  max-width: 42.875rem;
  height: 7.75rem;
  position: relative;
}

.contacts__text {
  font-weight: 700;
  font-size: 1.4375rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353B;
  margin-bottom: 2.125rem;
}

.contacts__input {
  width: 42.875rem;
  height: 100%;
  border: 1px solid #aaa8a8;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
  color: #31353B;
  position: relative;
  padding-left: 2.8125rem;
  outline: none;
}

.contacts__input::-webkit-input-placeholder {
  position: absolute;
  top: 1.6875rem;
  left: 2.8125rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.contacts__input::-moz-placeholder {
  position: absolute;
  top: 1.6875rem;
  left: 2.8125rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.contacts__input:-ms-input-placeholder {
  position: absolute;
  top: 1.6875rem;
  left: 2.8125rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.contacts__input::-ms-input-placeholder {
  position: absolute;
  top: 1.6875rem;
  left: 2.8125rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.contacts__input::placeholder {
  position: absolute;
  top: 1.6875rem;
  left: 2.8125rem;
  font-weight: 500;
  font-size: 1.0625rem;
  letter-spacing: 0.02em;
  opacity: 0.5;
}

.contacts__input:focus {
  border: 1px solid #F85A47;
}

.contacts__btn {
  position: absolute;
  top: 1.625rem;
  right: 1.875rem;
  width: 10.4375rem;
  height: 4.5rem;
  background: #F85A47;
  color: #fff;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 144.2%;
  letter-spacing: 0.02em;
}

.contacts__btn:hover {
  background: #c22c1b;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/*--------------------FOOTER--------------------------------------------------------------*/

.footer__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 133.3333333333%;
  color: #31353B;
  margin: 0 auto 2.1875rem auto;
}

@media (min-width: 32.8125rem) {
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    z-index: 10;
  }

  .popup__body {
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10px;
  }

  .popup__content {
    margin: 30px;
    max-width: 800px;
    height: 100%;
    -webkit-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    position: relative;
    transition: all .8s;
    -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
            transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    background: #000;
  }

  .popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }

  .popup:target {
    opacity: 1;
    visibility: visible;
  }

  .popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .popup:target .popup__content {
    opacity: 1;
    -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
            transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  }
}

@media (max-width: 767px) {
  .menu__icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 30px;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 26px;
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    display: block;
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
    background-color: #fff;
  }

  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
        -ms-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
    background-color: #fff;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 120px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: none;
    z-index: 2;
  }

  .menu__list {
    display: block;
    border: 0px;
    color: #fff;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 30px 0px 30px 0px;
    text-align: center;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu__list > li._active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }

  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}

@media (max-width: 425px) {
  .menu__icon-container {
    margin-right: 15px;
  }
}

@media (max-width: 90rem) {
  .header__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__input-btn {
    top: 5.375rem;
    left: 0;
  }

  .header__logos-desc {
    margin-top: 1.25rem;
  }

  .how {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
  }

  .how__logo-container-2::after,
  .how__logo-container-2::before {
    display: none;
  }

  .how__cards {
    gap: 1.5625rem;
  }

  .best {
    margin-top: 6.25rem;
  }

  .best__hrefs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 62.5rem) {
  .best {
    margin-bottom: 6.25rem;
  }

  .week__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 6.25rem;
  }

  .week__title {
    margin-bottom: 1.875rem;
    text-align: center;
  }

  .week__text {
    max-width: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .week__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .week__text-about {
    max-width: 50rem;
  }

  .week__fotos {
    margin: 2.4375rem auto 11.25rem auto;
  }

  .coment__title {
    text-align: center;
    margin: 0 auto 1.25rem auto;
  }
}

@media (max-width: 53.125rem) {
  .header__social {
    top: -2.5rem;
    left: 50%;
    width: 9.875rem;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .header__block {
    margin-top: 1.875rem;
  }
}

@media (max-width: 47.9375rem) {
  .contacts {
    padding: 0 0.9375rem;
  }

  .contacts__input-container {
    width: 100%;
  }

  .contacts__input {
    width: 100%;
    height: 4.375rem;
  }

  .contacts__title,
  .contacts__text {
    text-align: center;
  }

  .contacts__btn {
    top: 6.25rem;
    width: 18.75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 40.625rem) {
  .header__slider-container {
    width: 100%;
  }

  .header__input {
    width: 100%;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .best__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .best__btn {
    margin-top: 1.0625rem;
  }

  .best__title {
    text-align: center;
    padding-right: 0;
  }
}

@media (max-width: 32.8125rem) {
  .popup {
    display: none;
  }

  .week__img-with-main {
    width: 23.125rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media (max-width: 30.3125rem) {
  .how {
    margin-bottom: 6.25rem;
  }

  .how__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 25.625rem) {
  .week__img-with-main {
    top: 12.78rem;
    width: 16.25rem;
  }

  .week__fotos {
    margin-bottom: 6.875rem;
  }
}

.webp .header{ background-image: url(../img/bg.webp); }

.webp .week__img-with-main{ background-image: url(../img/office-1.webp); }